#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_install:
	# Create required directories
	install -d $(CURDIR)/debian/nos-shares/srv/shares
	install -d $(CURDIR)/debian/nos-shares/etc/samba/smb.conf.d
	install -d $(CURDIR)/debian/nos-shares/etc/exports.d
	install -d $(CURDIR)/debian/nos-shares/etc/avahi/services
	install -d $(CURDIR)/debian/nos-shares/etc/systemd/system/smbd.service.d
	install -d $(CURDIR)/debian/nos-shares/etc/systemd/system/nfs-server.service.d
	
	# Install systemd drop-ins
	install -m 644 $(CURDIR)/debian/smbd.override.conf \
		$(CURDIR)/debian/nos-shares/etc/systemd/system/smbd.service.d/override.conf
	install -m 644 $(CURDIR)/debian/nfs-server.override.conf \
		$(CURDIR)/debian/nos-shares/etc/systemd/system/nfs-server.service.d/override.conf
	
	# Install firewall rules
	install -d $(CURDIR)/debian/nos-shares/usr/share/nos-shares
	install -m 755 $(CURDIR)/debian/setup-firewall.sh \
		$(CURDIR)/debian/nos-shares/usr/share/nos-shares/setup-firewall.sh

override_dh_installinit:
	# Don't install init scripts, we use systemd

override_dh_installsystemd:
	# Enable services but don't start them during package install
	dh_installsystemd --no-start --name=smbd
	dh_installsystemd --no-start --name=nmbd
	dh_installsystemd --no-start --name=nfs-server
	dh_installsystemd --no-start --name=avahi-daemon
