#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	cd ../../../web && npm ci && npm run build

override_dh_auto_install:
	install -d $(DESTDIR)/usr/share/nithronos/web
	cp -a ../../../web/dist/* $(DESTDIR)/usr/share/nithronos/web/
	# (Optional) Install Caddy snippet if you ship one:
	# install -D -m0644 ../../../deploy/caddy/nithronos-web.caddy $(DESTDIR)/etc/caddy/conf.d/nithronos-web.caddy


