#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	cd ../../../web && npm ci && npm run build

override_dh_auto_install:
	install -d debian/nos-web/usr/share/nithronos/web
	cp -a ../../../web/dist/* debian/nos-web/usr/share/nithronos/web/
	# Ship example Caddyfile as documentation (not conffile) to avoid overwriting admin config
	install -D -m0644 ../../../deploy/caddy/Caddyfile debian/nos-web/usr/share/doc/nos-web/examples/Caddyfile


