#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	cd ../../../web && npm ci && npm run build

override_dh_auto_install:
	install -d debian/nos-web/usr/share/nithronos/web
	cp -a ../../../web/dist/* debian/nos-web/usr/share/nithronos/web/
	# No longer ship /etc/caddy/Caddyfile; use conf.d snippets instead


