[Unit]
Description=NithronOS Applications
Documentation=https://github.com/NotTekk/NithronOS
After=docker.service network-online.target multi-user.target

[Install]
WantedBy=multi-user.target
