[Unit]
Description=NithronOS dependencies version report (one-time)
ConditionPathExists=!/var/lib/nithronos/deps-reported

[Service]
Type=oneshot
ExecStart=/usr/lib/nithronos/report-deps.sh

[Install]
WantedBy=multi-user.target


