#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	# Make scripts executable
	chmod +x $(CURDIR)/nos-app-helper.sh
	chmod +x $(CURDIR)/nos-app-snapshot.sh
	chmod +x $(CURDIR)/setup-docker-repo.sh

override_dh_auto_install:
	# Create required directories
	install -d $(CURDIR)/debian/nos-apps-runtime/etc/nos/apps
	install -d $(CURDIR)/debian/nos-apps-runtime/srv/apps
	install -d $(CURDIR)/debian/nos-apps-runtime/srv/apps/.snapshots
	install -d $(CURDIR)/debian/nos-apps-runtime/var/lib/nos/apps/state
	install -d $(CURDIR)/debian/nos-apps-runtime/usr/share/nithronos/apps

override_dh_installsystemd:
	dh_installsystemd --name=nos-apps --no-start --no-enable
