[Unit]
Description=NithronOS Installer Welcome Message
After=multi-user.target
ConditionKernelCommandLine=nos.install=1

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/lib/nithronos/installer-welcome

[Install]
WantedBy=multi-user.target
