#!/usr/bin/make -f

export DH_VERBOSE=1
export DEB_BUILD_MAINT_OPTIONS=hardening=+all

%:
	dh $@

override_dh_auto_build:
	# Build backend binary from repo root path
	# packaging/deb/nosd -> repo root is ../../../
	cd ../../../backend/nosd && CGO_ENABLED=0 go build -o ../../packaging/deb/nosd/deb-build/nosd .

override_dh_auto_install:
	install -D -m0755 deb-build/nosd $(DESTDIR)/usr/bin/nosd
	install -D -m0644 ../../../deploy/systemd/nosd.service $(DESTDIR)/lib/systemd/system/nosd.service

override_dh_systemd_enable:
	dh_systemd_enable --name=nosd nosd.service


