#!/usr/bin/make -f

export DH_VERBOSE=1
export DEB_BUILD_MAINT_OPTIONS=hardening=+all

%:
	dh $@

override_dh_auto_build:
	cd ../../../agent/nos-agent && CGO_ENABLED=0 go build -o ../../packaging/deb/nos-agent/deb-build/nos-agent .

override_dh_auto_install:
	install -D -m0755 deb-build/nos-agent $(DESTDIR)/usr/sbin/nos-agent

